*{
    margin: 0;
    border: 0;
}

body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: ;
    
    margin-top: 10px;
}

.container{
    text-align: center;
}
.gameboard{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}